# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/build
/binary/bin/win_x64
/loo/tools/looreflect/util/bin
/loo/tools/looreflect/util/build
/binary/lib/win_x64
/loo/thirdpart/Build
/binary/libs/win_x64/android_gradle
/android/examples/testframework/build-native
/android/.idea
/android/examples/testframework/release
/android/.gradle
/android/examples/bin
/android/examples/testframework/build
/android_gradle
/binary/libs/win_x64
/binary/libs/android_x86
